body {
  font-family: "Merriweather", serif;
}

.Dictionary form {
  text-align: center;
}

.Dictionary section {
  background: #f9eacc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0 0 0 10%);
  margin: 20px 0;
}

.Dictionary input.field {
  height: 40px;
  width: 400px;
  float: right;
  padding: 0 10px;
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 4px 0px 0 px 4 px;
  font-size: 12pt;
}

.Dictionary input.btn.btn-outline-light.mb-2 {
  float: left;
  padding: 6px 15px 6px 15px;
  width: 60px;
  background-color: #f6f6f6;
  border: 1px solid #dadada;
}
